@CHARSET "ISO-8859-1";

body {
	margin: 1px;
	padding: 1px;
	overflow: hidden;
}

p {
	margin: 0;
	padding: 0;
}

.init-div {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

.rounded-border {
	border: 1px solid #cecece;
	border-radius: 10px;
}

.tbl {
	width: 100%;
	border-collapse: collapse;
	font-size: 11px;
}

.tbl th {
	text-align: center;
	border-bottom: 1px solid #cecece;
	padding: 1%;
}

.tbl tr td {
	text-align: center;
	border-bottom: 1px solid #cecece;
	padding: 1%;
}

.tbl tr td input[type="text"] {
	text-align: center;
	width: 70%;
	border: none;
}

.tbl tr td input[type="number"] {
	text-align: center;
	width: 70%;
	border: none;
}

.no-border {
	border: none !important;
}

.no-bottom-border td {
	border-bottom: none !important;
}

.no-border-right {
	border-right: none !important;
}

.rt_tbl tr td {
	text-align: center;
	border-bottom: 1px solid #cecece;
	border-right: 1px solid #cecece;
	padding: 1%;
	width: 1%;
}

.rt_mid_tbl {
	border-collapse: collapse;
	width: 96%;
	margin: 2%;
	text-align: center;
	overflow: scroll;
	display: block;
	min-height: 30%;
	max-height: 35%;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	font-size: 11px;
}

.rt_mid_tbl::-webkit-scrollbar {
	width: 0 !important
}

.rt_mid_tbl th {
	border-bottom: 1px solid #cecece;
	margin-bottom: 2px;
	padding: 8px 0;
	width: 1%;
}

.rt_mid_tbl th img {
	width: 16px;
	height: 16px;
}

.rt_mid_tbl tr {
	margin: 5px 0;
}

.rt_mid_tbl tr td {
	border-right: 1px solid #cecece;
	padding: 8px 0;
	width: 1%;
}

.right-upper-section {
	width: 90% !important;
	margin-bottom: 1% !important;
}

.right-upper-section-1 {
	width: 14%;
	margin: 0;
	padding: 0;
	float: left;
	text-align: center;
}

.right-upper-section input[type="text"] {
	text-align: center;
	width: 70%;
	border: none;
}

.right-upper-section input[type="number"] {
	text-align: center;
	width: 85%;
	border: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

.page3-main-div {
	width: 78%;
	margin: 0;
	padding: 0;
	float: left;
	border: 1px solid #cecece;
	border-radius: 5px;
	height: 100%;
}

.page3-left-sec {
	width: 38%;
	height: 92%;
	padding: 2%;
	margin: 0;
	float: left;
}

.page3-left-top-sec {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 10%;
	float: left;
}

.page3-left-top-sec-1 {
	width: 30%;
	float: left;
}

.page3-left-top-sec-2 {
	width: 60%;
	height: 10%;
	float: left;
}

.page3-left-top-sec-2>select {
	width: 100%;
	border-bottom: 1px solid #000;
	border-right: none;
	border-left: none;
	border-top: none;
}

.page3-left-mid-sec {
	width: 100%;
	margin: 0 0 2% 0;
	padding: 0;
	height: 45%;
	float: left;
	border: 1px solid #cecece;
	border-radius: 5px;
}

.page3-bottom-sec {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 30%;
	float: left;
}

.right-sec {
	width: 58%;
	padding: 2%;
	margin: 0;
	float: left;
}

.right-upper-right-sec {
	width: 70%;
	float: right;
}

.a0-a6-val-sec {
	width: 58%;
	margin: 0;
	padding: 0;
	float: left;
}

.right-lower-upper-sec {
	height: 12%;
	width: 100%;
	float: left;
}

.right-lower-upper-sec-1 {
	width: 50%;
	float: left;
}

.right-lower-upper-sec-val-1 {
	width: 25%;
	height: 48%;
	float: left;
	text-align: center;
}

.right-lower-upper-sec-val-2 {
	width: 25%;
	height: 48%;
	float: left;
	text-align: center;
}

.right-lower-upper-sec-val-2>input {
	width: 30%
}

.right-lower-upper-sec-2 {
	width: 50%;
	float: left;
}

.auto-btn-div {
	width: 100%;
	float: right;
	float: left;
}

.auto-btn-div>input {
	margin: 5% 5% 0 0;
	float: right;
	border: 1px solid #cecece;
	background: #fff;
	border-radius: 5px;
}

.right-lower-bottom-sec {
	height: 5%;
	width: 100%;
	float: left;
}

.right-lower-bottom-sec-label-value {
	width: 12%;
	height: 48%;
	float: left;
	text-align: center;
}

.right-lower-bottom-sec-label-value>input {
	width: 90%;
	text-align: center;
}

.upload-btn-sec {
	width: 50%;
	float: right;
}

.upload-btn-sec-full {
	width: 100%;
	float: right;
	float: left;
}

.upload-btn-sec-full>input {
	margin: 5% 5% 0 0;
	float: right;
	border: 1px solid #cecece;
	background: #fff;
	border-radius: 5px;
}